[Unit]
Description=Initialize the script to automatically pull the piero repo on a schedule

[Service]
Type=oneshot
ExecStart=/usr/bin/node /home/chip/piero-ota-update/piero-ota-update.js

[Install]
WantedBy=multi-user.target
