[Unit]
Description=automatically pull the piero repo on a schedule

[Service]
Type=oneshot
ExecStart=echo "hello"

[Install]
WantedBy=multi-user.target
