[Unit]
Description=Initialize the script to automatically pull the piero repo on a schedule

[Service]
Type=oneshot
ExecStart=/usr/bin/node /home/chip/piero-init/piero-init.js

[Install]
WantedBy=multi-user.target
